#currentWeek, #calendarDays, #workDaysBrutto, #workDaysNetto, #calendarWeeks, #startDay, #endDay, #startWeek, #endWeek, #saturdays, #sundays, #weekends, #holidays  {
    text-align: center;
}

#workDaysNetto, #workDaysBrutto, #calendarDays, #saturdays, #sundays, #weekends, #holidays {
    width: 100%;
}

.style-light-accent-bg {
    background-color: #5aa747;
    filter: brightness(1.2);
}

th {
    text-align: center;
}

.bg-lightgray {
    background-color: lightgray;
}

.holidayMark {
    border: 1px solid red !important;
    color: red;
}

#calendar {
  max-height: 100vh;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

#calendarTable {
  flex: 0 1 auto;
  overflow: auto;
}

#workdayTool {
  max-height: 100vh;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
}

#workdayTool div {
  max-width: 90%;
}

#workdaysCalculationTable {
  width: 100%;
  flex: 0 1 auto;
  overflow: auto;
}

#countryOption {
    height: calc(100vh - 12em);
    overflow: auto;
}

#holidayTable {
    max-height: calc(100vh - 30em);
    overflow: auto;
}

.calendarTableCell {
  padding-left: 20px;
  padding-right: 20px;
}

.calendarTableWeekCell {
  padding-left: 30px;
  padding-right: 30px;
    border-right: 1px solid black;
}

@media only screen and (max-width: 768px) {
  #calendar, #workdayTool {
    padding-right: 0px;
    padding-left: 5vw;
  }

  #calendar h3 {
    margin: 0.5em !important;
    margin-bottom: 0 !important;
  }

  .calendarTableCell {
    max-width: 13vw !important;
    padding: 0px;
    padding-left: calc(7vw - 3ch);
  }

  .calendarTableWeekCell {
    padding: 0px;
  }

  #yearInput {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
    max-width: min-content !important;
    min-width: 10ch !important;
    /* width: 70% !important; */
  }

  #lastYearButton, #nextYearButton {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  #calendarTableHeader th h5 {
    margin-bottom: 0;
  }

  #workdaysCalculationTable {
    max-width: 100% !important;
  }

  #workdaysCalculationTable table tbody tr th {
    padding: 5px 0% !important;
    word-wrap: break-word !important;
    word-break: break-word;
    min-width: 22vw !important;
  }
} 

@media only screen and (max-width: 412px) {
  #calendar h3 {
    font-size: 1.4em !important;
  }

  #yearInput {
    /* width: 70% !important; */
  }

  #calendarTableHeader th h5 {
    font-size: 1em !important;
  }

  .btn {
    padding: 2% !important;
    /* max-width: 10%; */
  }

  #workdayTool div {
    margin: 0 !important;
  }

  #saturdayLable h5 {
    font-size: small !important;
  }

  #startDate, #endDate, #workDaysNetto, #workDaysBrutto, #calendarDays {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.9em !important;
  }

  #workdaysCalculationTable table tbody tr th, td {
    padding: 0 !important;
    min-height: 1.7em !important;
  }

  #workdayCalculationTable table input {
    font-size: 0.1em !important;
  }
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  .search {
    padding: 14px 20px 12px 12px;
  }
  
  /* The search field when it gets focus/clicked on */
  #countrySearch:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    overflow: auto;
    max-height: calc(100vh - 10rem)
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 

  .hide { display: none; visibility: hidden;}

  #saturdaySwitch {
    transform: scale(1.8);
    background-color: darkgray;
    box-shadow: none;
  }

  #saturdaySwitch:checked {
    border-color: #3d792e;
    background-color: #5aa747;
  }

  #saturdaySwitch:active {
    border-color: #284d1f;
    background-color: #5aa747;;
  }

  #saturdaySwitch:focus {
    outline: none;
  }
